.page-footer {
    padding: 150px 35px;
    background-color: $clr-black;

    &__logo {
        img {
            width: 150px;
            display: block;
            margin: auto;
        }
    }

    &__section {
        margin-top: 3rem;       
    }

    &__title {
        font-size: 1.2rem;
        color: $clr-yellow;
        font-weight: $bold;
        text-transform: capitalize;
        margin-bottom: 18px;
    }

    &__informations {
        display: flex;
        flex-direction: column;
    }

    &__link {
        text-decoration: inherit;
        color: $clr-white;
        text-transform: capitalize;
        margin-bottom: 12px;
    }

    &__social {
        display: flex;
        flex-direction: column;
        column-gap: 2rem;

        .wrap-icons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 2rem;
            margin-top: 3rem;
        }

        &__icon {
            display: block;
            img {
                height: 50px;
            }        
        }
    } 

    &__rgpd__link {
        font-size: .8rem;
        text-decoration: inherit;
        color: $clr-white;
    }
}

@media screen and (min-width: 568px) {
    .page-footer {        
        padding: 200px 70px 50px;
    }
}