.gallery {
    padding: 0 35px;  
    overflow: hidden;  

    &__slide {  
        display: grid;  
        grid-template-columns: 1fr 1fr; 
        gap: 10px;      
    }

    // .gallery-items>* {
    //     flex: none;
    // }

    .picture {
        height: 25vh;
        border-radius: 5px;
        width: 100%;
        background: grey;
        margin: 0 10px 0 0;
        touch-action: pan-y;
    }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
    .gallery {
        padding: 200px 70px;
    }
}