$clr-dark: #242424;
$clr-black: #131313;
$clr-white: #ffffff;
$clr-grey-light: #C4C4C4;
$clr-yellow: #DABC27;

$box-shadow: 0px 3px 12px #00000050;

$header-big: 1.65rem;
$paragraph-m: 1.1rem;

$bold: 700;


body {
    font-family: 'Roboto';
    background-color: $clr-dark;
}

.title {
    font-size: 1.65rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 3rem;
    position: relative;

    &::after { 
        content: "";
        display: inline-block;
        width: 105px;
        height: 3px;
        background-color: #DABC27;
        position: absolute;
        left: 0;
        bottom: -7px;
    }
}

.text {
    font-size: 1.1rem;
    line-height: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}

.zigzag-separator {
    position: relative;
    margin-top: 150px;
    transform: translateX(-50%);
    left: 50%;
}


