.hero {    
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 35px 0;  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;;
    background: linear-gradient(0deg, rgba(19,19,19,1) 0%, rgba(19,19,19,0.010241596638655426) 100%), 
                url(../images/hero-img.jpg) no-repeat; 
    background-size: cover;
    background-position: center;

    &__title {
        color: $clr-white;
        font-family: 'Lemon milk';
        font-size: 1.65rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &__text {
        font-size: .8rem;
        text-transform: uppercase;
        color: $clr-white;
        margin-bottom: 3.5rem;
    }
    
    &__cta {
        position: absolute;
        bottom: 100px;
        width: 233px;
        text-decoration: none;

        &__text {
            text-transform: uppercase;
            text-align: center;
            font-weight: 700;
            font-size: 1.1rem;
            color: $clr-white;
        }

        &__decoration {
            position: absolute;
            top: -285%;
            left: 25%;
            animation: spin 50s infinite linear;
        }

        &__text-circle {
            fill: $clr-white;
            height: auto;
            max-width: 66vmin;
            transform-origin: center;
            width: 100%;
        }
    }  

    @keyframes spin {
        from {
            transform:rotate(0deg);
        }
        to {
            transform:rotate(360deg);
        }
    }
}