.services {
    padding: 150px 35px;

    &__left {
        margin-bottom: 3rem;
        
        &__title {
            font-size: $header-big;
            font-weight: $bold;
            color: $clr-white;
            margin-bottom: 3rem;
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                width: 105px;
                height: 3px;
                background-color: #DABC27;
                position: absolute;
                left: 0;
                bottom: -7px;
            }
        }

        &__text {
            color: $clr-grey-light;
        }
    }

    &__right {
        display: flex; 
        justify-content: space-between;
        flex-direction: column; 
        row-gap: 2rem;  
        padding-top: 4rem;    
    }    
}

@media screen and (min-width: 568px) {
    .services {        
        padding: 200px 70px;

        &__right {
            flex-direction: row;
            column-gap: 10px;
        }
    }
}

@media screen and (min-width: 992px) {
    .services {
        display: flex;
        flex-direction: row;
        column-gap: 2rem;

        &__left {
            flex: 0 0 40%;
        }

        &__right {
            flex: 1;
        }
    }
}
