.tarifs { 
    padding: 150px 35px; 

    &__title {
        font-size: $header-big;
        font-weight: $bold;
        text-align: center;
        color: $clr-yellow;
        margin-bottom: 3rem;
        position: relative;
    }

    &__text {
        color: $clr-grey-light;
    }

    &__list {
        box-sizing: border-box;
        padding: 3rem 0;        
    }    
}

.list__item {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    margin-bottom: 1.8rem;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-title, &-price {
        font-size: 1rem;
        font-weight: $bold;
        text-transform: capitalize;
        color: $clr-yellow;
    }

    &-text {
        color: $clr-grey-light;
    }    
}