/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto';
  background-color: #242424;
}

.nav {
  position: fixed;
  left: 0;
  right: 0;
  padding: 14px 35px;
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 10;
}

.nav__button {
  z-index: 2;
}

.nav__logo {
  position: absolute;
  height: 40px;
  z-index: -1;
  -webkit-transition: .5s;
  transition: .5s;
  top: 0;
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  left: 35px;
  -webkit-animation: resizeLogo .5s ease;
          animation: resizeLogo .5s ease;
}

.nav__logo img {
  height: 100%;
}

.nav__logo__resize {
  height: 30px;
  -webkit-transform: translateY(25%) scale3d(1, 1, 1);
          transform: translateY(25%) scale3d(1, 1, 1);
}

.nav__menu {
  display: none;
  position: absolute;
  width: 100vw;
}

.nav__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__menu__link {
  text-transform: uppercase;
  font-size: 1rem;
}

.nav__menu__link a {
  color: #ffffff;
  text-decoration: none;
}

.nav__menu__active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  -webkit-animation: dropMenu .5s ease-out;
          animation: dropMenu .5s ease-out;
  z-index: -1;
}

@-webkit-keyframes dropMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

@keyframes dropMenu {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}

.hero {
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(#131313), to(rgba(19, 19, 19, 0.0102416)));
  background: linear-gradient(0deg, #131313 0%, rgba(19, 19, 19, 0.0102416) 100%);
}

.hero__title {
  color: #ffffff;
  font-family: 'Lemon milk';
  font-size: 1.65rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hero__text {
  font-size: .8rem;
  text-transform: uppercase;
  color: #ffffff;
}

.hero__cta {
  position: absolute;
  bottom: 100px;
  width: 233px;
  text-decoration: none;
}

.hero__cta__text {
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
  color: #ffffff;
}

.hero__cta__decoration {
  position: absolute;
  top: -285%;
  left: 25%;
  -webkit-animation: spin 50s infinite linear;
          animation: spin 50s infinite linear;
}

.hero__cta__text-circle {
  fill: #ffffff;
  height: auto;
  max-width: 66vmin;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 100%;
}

.hero__background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.hero__background-image img {
  height: 100%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.about__title {
  color: #ffffff;
  font-family: 'Lemon milk';
  font-size: 1.65rem;
  font-weight: 700;
  line-height: 140%;
  text-transform: uppercase;
}

.about__text {
  color: #ffffff;
  font-size: 1rem;
}
/*# sourceMappingURL=index.css.map */